{
  "version": "0.2.0",
  "configurations": [
    {
      "name": "🚀 Flutter: Run (Development)",
      "request": "launch",
      "type": "dart",
      "program": "lib/main.dart",
      "args": [
        "--dart-define=ENV=development",
        "--dart-define=DEBUG_EMAIL=your-email@example.com",
        "--dart-define=DEBUG_PASSWORD=your-password-here"
      ]
    },
    {
      "name": "🌐 Flutter: Run (Web - Chrome)",
      "request": "launch",
      "type": "dart",
      "program": "lib/main.dart",
      "args": [
        "--web-renderer=html",
        "-d",
        "chrome"
      ]
    },
    {
      "name": "🪟 Flutter: Run (Windows)",
      "request": "launch",
      "type": "dart",
      "program": "lib/main.dart",
      "preLaunchTask": "🧮 Build Spreadsheet Engine",
      "args": [
        "-d",
        "windows"
      ]
    },
    {
      "name": "🍎 Flutter: Run (macOS)",
      "request": "launch",
      "type": "dart",
      "program": "lib/main.dart",
      "deviceId": "macos",
      "preLaunchTask": "🧮 Build Spreadsheet Engine"
    },
    {
      "name": "📱 Flutter: Run (iPad)",
      "request": "launch",
      "type": "dart",
      "program": "lib/main.dart",
      "deviceId": "00008110-000C708A3A38801E",
      "args": []
    },
    {
      "name": "📱 Flutter: Run (Android)",
      "request": "launch",
      "type": "dart",
      "program": "lib/main.dart",
      "deviceId": "adb-R28M2189XQF-QsJGTZ._adb-tls-connect._tcp",
      "args": []
    }
  ]
}
